<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- meta tags -->
    <meta property="og:title" content="Zulfajri | Personal Website" />
    <meta property="og:description" content="a portfolio website of Zulfajri" />
    <meta property="og:image" content="{{ url_for('static', filename='Lj..svg') }}" />
    <link rel="icon" type="image/svg+xml" href="../static/Lj..svg" />

    <!-- Link Animasi AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- Link Icon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!-- sweet alert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <title>Luji Dashboard | Projects</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin_dashboard.css')}}" />
  </head>
  <body>
    <!-- loading overlay -->
    {% include '/components/loading_overlay.html' %}
    <!-- end loading overlay -->

    <!-- sidebar -->
    {% with page=page %} {% include '/components/sidebar.html' %} {% endwith %}
    <!-- end sidebar -->
    <div class="main-content">
      <div class="add-project w-75 mb-4 py-1 text-center rounded" id="modal-new-project">
        <a href="#">
          <i class="bx bx-plus"></i>
          <span class="pb-2">new project</span>
        </a>
      </div>
      <div class="projects-cards w-75">
        <div class="row d-flex justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="card-container"></div>
      </div>
    </div>

    <!-- modal for add new project -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- modal header -->
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- modal body -->
          <div class="modal-body text-start">
            <div class="mb-3">
              <label for="project-thumbnail" class="form-label">Project thumbnail</label>
              <input class="form-control" type="file" id="project-thumbnail" />
              <!-- thumbnail preview -->
              <img src="{{ url_for('static', filename='assets/rapz-hair-studio.png') }}" class="mt-3 w-50" id="preview_img" alt="profile_img" style="display: none" />
            </div>
            <div class="mb-3">
              <label for="project-name" class="form-label">Project Name</label>
              <input type="text" class="form-control" id="project-name" />
            </div>
            <div class="mb-3">
              <label for="project-link" class="form-label">Project Link</label>
              <input type="text" class="form-control" id="project-link" />
            </div>
            <div class="mb-3">
              <label for="project-description" class="form-label">Project Description</label>
              <textarea class="form-control" id="project-description" rows="3"></textarea>
            </div>
          </div>
          <!-- modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="handleNewProject()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal -->
  </body>
  <!-- javascript -->
  <script src="{{url_for('static', filename='admin_dashboard.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
