* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body {
  background-color: #1e1e1e;
  color: #fff;
}

.form-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px 20px;
  background-color: #353535;
}

.btn-login {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #1e1e1e;
  border: none !important;

  color: white;
  width: 100%;
  height: 40px;
  transition: 0.4s ease;
}
.btn-login:hover {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: rgb(31, 31, 31);
}

.form-control {
  background-color: rgb(36, 36, 36) !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}

svg {
  width: fit-content;
  height: 100%;
  display: inline-block;
}
