* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body {
  background-color: #1e1e1e;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  width: fit-content;
}

.logo > h1 {
  color: #ffe600;
}

.nav-link:hover {
  color: #ffe600;
}

.navbar,
.offcanvas {
  background-color: #1e1e1e;
  border-bottom: 2px solid #ffe600;
}

.btn-close {
  filter: invert(1);
}

/* hero section styling */
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */
.cta-container {
  margin-top: 50px;
}
.hero-text > h1 {
  font-weight: bold;
  padding-bottom: 20px;
  letter-spacing: 0.3em;
}

.hero-text .special-word {
  color: #ffe600;
}

.cta-link {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid white;
  color: white;
}

.cta-link:hover {
  border: 2px solid #ffe600;
  background-color: #ffe600;
  color: black;
  transition: 0.4s ease;
}

/* about section styling */

.about-img img {
  width: 100%;
  max-width: 250px;
  filter: brightness(75%);
}

.about-text {
  padding: 30px 20px;
  color: white;
  background-color: #1e1e1e;
  box-shadow: 0 0.3rem 1rem #ffe60042;
}

.about-row {
  width: 100%;
}

.skills {
  border: 1px solid #ffe600;
  margin-top: 30px;
  width: fit-content;
  padding: 10px;
}

.skills img {
  width: 250px;
}

/* projects section style */

.tech-stack {
  border: 1px solid #ffe600;
  margin-top: 30px;
  width: fit-content;
  padding: 10px;
}

.card-body > h5 > a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.card-body > h5 > a > img {
  padding-bottom: 15px;
  margin-left: -2px;
  transition: 0.3s;
}

.card-body > h5 > a:hover {
  text-decoration: none;
  color: #ffe600;
}

.card {
  box-shadow: 0 0.3rem 1rem #ffe60042;
}

/* contact section styling */

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  background-color: #ffe600;
  color: black;
}

.myForm {
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
  background-color: #1e1e1e;
  padding: 20px;
  box-shadow: 0 0.3rem 1rem #0000009d;
}

.btn-msg {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #ffe600;
}
.btn-msg:hover {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #ffe600;
  color: black;
  border: 1px solid #ffe600;
  transition: 0.4s ease;
}

.social-media {
  margin-top: 20px;
  padding: 5px 10px;
  height: fit-content;
}

/* all section style */
#about {
  height: 600px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffe600;
  color: black;
}

#projects {
  padding-bottom: 50px;
}

@media (max-width: 480px) {
  #about,
  #projects {
    padding: 0px 30px;
  }

  #about {
    height: 800px;
    padding: 30px 0px;
    margin-bottom: 5rem;
  }

  .tech-stack {
    margin: 0px auto;
  }
}
