* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body {
  background-color: #1e1e1e;
  color: #fff;
}

.title {
  background-color: #1e1e1e90;
  padding: 10px;
}

.navbar {
  background-color: #1e1e1e;
}
