<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body style="background-color: #222222; color: #ffffff; font-family: Arial, sans-serif; padding: 20px; text-align: center">
    <div style="max-width: 600px; margin: 0 auto; background-color: #333333; padding: 20px; border-radius: 10px">
      <div style="text-align: left">
        <span style="font-size: 32px; font-weight: bold; color: #ffe600">Lj.</span>
      </div>
      <h1 style="color: #ffffff; font-size: 24px">Hi, Luji!<span style="font-size: 24px">👋</span></h1>
      <hr style="border: 1px solid #444444" />
      <p style="color: #ffffff; font-size: 18px">Here's a message from <span style="color: #ffd700">{{person_sender}}</span>:</p>
      <p style="color: #ffffff; font-size: 18px; padding: 20px; background-color: #444444; border-radius: 10px">{{user_message}}</p>
      <div style="margin-top: 20px">
        <a href="#" style="color: #ffe600; text-decoration: none; margin-right: 10px">Reply this message</a>
        <a href="#" style="color: #fd5174; text-decoration: none">Ignore this message</a>
      </div>
    </div>
  </body>
</html>
